<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0;"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>留言</title>
    <link rel="stylesheet" href="./src/css/message.css" />
  </head>
  <body>
    <div>
      <div class="container">
        <!-- 内容部分 -->
        <div id="app" class="main-content" v-cloak>
          <div class="input-wrap">
            <h1>留言</h1>
            <div class="input-content">
              <div class="input-toolbar">
                {{ userName }}
              </div>
              <div class="input">
                <textarea v-model="commentMsg" style="resize: none"></textarea>
              </div>
            </div>
            <button @click="sendMsg">发布</button>
          </div>
          <!-- input content -->
          <div class="comment" v-for="(item, index) in commentList">
            <p class="comment-floor">{{item.floor}}楼</p>
            <div style="overflow: hidden;">
              <p class="comment-avatar" :style="{ backgroundColor: item.avatar }"></p>
              <p class="comment-author">{{item.author}} &nbsp; <span>{{item.date}}</span></p>
            </div>
            <div class="comment-content">
              <p class="comment-detail">{{item.comment}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./src/js/common/device-init.js"></script>
    <script src="./src/js/common/ajax.js"></script>
    <script src="./src/js/common/vue.min.js"></script>
    <script src="./src/js/message.js"></script>
  </body>
</html>
