.page-wrap {
  /* width: 2480px;
  height: 3508px; */
}

/* header */
.header {
  padding: 45px 80px;
}

.name{
  overflow: hidden;
  padding-bottom: 35px;
  font-weight: bold;
}
.info{
  overflow: hidden;
}
.info p{
  overflow: hidden;
  padding-bottom: 15px;
}

/* content */
.content{
  padding-top: 20px;
}
.content .content-li{
  padding: 15px 0;
  padding-left: 35px;
}



