.main-content {
  padding: 0.2rem;
}
/* input */
.input-wrap{
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.input-wrap h1 {
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 0.4rem;
}
.input-wrap button {
  padding: 0.2rem 0;
  width: 100%;
  min-width: 1.5rem;
  margin: 0.1rem 0;
  display: block;
  float: right;
  background: #f7f3ee;
  color: #9e886c;
  border-radius: 5px;
  border: 1px solid #e7ded2;
  cursor: pointer;
}
.input-content {
  position: relative;
  height: 3rem;
  margin-bottom: 0.4rem;
}
.input-toolbar {
  height: 0.4rem;
  line-height: 0.4rem;
  padding-left: 0.1rem;
  background: #f7f3ee;
  border-radius: 5px 5px 0 0;
  text-align: left;
  margin-bottom: 0;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  left: 1px;
  top: 1px;
  right: 1px;
}
.input {
  height: 100%;
}
.input textarea {
  width: 100%;
  height: 100%;
  min-height: 0.32rem;
  display: block;
  padding: 0.04rem 0.11rem;
  padding-top: 0.5rem;
  border-radius: 5px;
}
.input textarea:hover {
  border-color: #faad14;
}
.input textarea:focus-visible {
  outline: 1px;
  border-color: #faad14;
}

/* input content */
.comment{
  padding-bottom: 2rem;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #ccc;
  font-size: 0.12rem;
}
.comment:last-child {
  border-bottom: 0px;
}
.comment-floor{
  padding: 0.2rem 0rem;
}
.comment-avatar{
  float: left;
  width: 0.35rem;
  height: 0.35rem;
  border: 1px solid #000;
  border-radius: 100%;
}
.comment-content{
  float: left;
  margin-left: 0.2rem;
}
.comment-author{
  color: rgba(0,0,0,.45);
}
.comment-detail{
  padding: 0.05rem 0rem;
  font-size: 0.14rem;
}
/* .comment-action{
  margin-left: 0.1rem;
  color: rgba(0,0,0,.45);
} */


/* ----------------- index.css -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('../images/whitebg.jpg') repeat;
  font-family: 'Microsoft Yahei';
  color: #787978;
  font-size: 0.12rem;
}
.header-box {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  text-align: center;
}
.header-box img {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #000;
  border-radius: 50%;
}
.myid {
  color: #948c76;
  margin-bottom: 0.2rem;
  text-align: center;
}
.myid p {
  background: #f7f3ee;
  font-size: 1.3em;
  font-weight: 400;
  padding: 0 0.5em;
  letter-spacing: 0.1em;
  line-height: 2em;
  margin: 2em 0;
  display: inline-block;
}
.my-sort {
  margin: 0 0 1.2rem;
  text-align: center;
}
.my-sort a {
  margin: 0 0.71rem;
}

/* top */
/* #top {
  width: 45px;
  height: 45px;
  background: #cccccc;
  border-radius: 5px;
  position: fixed;
  right: 20px;
  bottom: 10%;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  display: none;
  z-index: 1000;
  opacity: 0.6;
}
#top:hover {
  opacity: 1;
} */

